<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="ohos.permission.GET_BUNDLE_INFO" />

  <uses-permission
    android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"
    tools:node="remove" />
  <uses-permission
    android:name="com.google.android.gms.permission.AD_ID"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.ACCESS_ADSERVICES_AD_ID"
    tools:node="remove" />
  <uses-permission
    android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"
    tools:node="remove" />

</manifest>
