name: Qodana
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - 'releases/*'

env:
  APP_CENTER_SECRET: ${{secrets.APP_CENTER_SECRET}}

jobs:
  qodana:
    runs-on: ubuntu-latest
    if: github.repository == 'LibChecker/LibChecker'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/wrapper-validation-action@v1
      - uses: gradle/gradle-build-action@v2
      - run: ./gradlew build

      # Initialize Gradle Project to build BuildConfig.java

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@32c3156f63f31a54dece4ce3e32dbb767c38bb61 # v2023.2.6
        with:
          args: scan,-l,jetbrains/qodana-jvm-android,--yaml-name,qodana.yaml
          use-caches: false
          # DO NOT USE CACHES. Leads to fail
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ runner.temp }}/qodana/results/report
          destination_dir: ./

      - name: Deploy to GitHub code scanning
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
